<nav>
	<div class="flex justify-start h-16 px-10 shadow items-center">
		<div class="w-full flex justify-between items-center space-x-8">
			<h1 class="text-xl lg:text-2xl font-bold cursor-pointer">PHP - Blog</h1>
			<div class="hidden md:flex justify-around space-x-4">
				<a href="/" class="mx-5 hover:text-indigo-600 text-gray-700">Blog</a>
				<a href="/about" class="hover:text-indigo-600 text-gray-700">About</a>
			</div>
		</div>
	</div>
</nav>
