{% extends "layout.twig" %}
{% block content %}
	<div class="flex flex-col justify-center items-center">
		<div class="w-2/3 py-4 px-8 bg-white shadow-lg rounded-lg my-10">
			<h1>404 - Page not found</h1>
		</div>
		<div class="flex justify-start mt-4">
			<a href="/" class="text-l font-medium text-indigo-500">Go back to the main page</a>
		</div>
	</div>
{% endblock %}
